*{
    margin: 0;
}

.card{
    margin: 0;
    background-color: blueviolet;
    color: white;
    padding: 10px;
}
.image{
    width: 100px;
}
.on{
    background-color: greenyellow;
}
.of{
    background-color: gray;
}